.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.7em;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

.pane{
  border:1px solid #eee;
  min-height: 200px;
  box-shadow:0 2px 2px #ccc;
  padding: 7px 10px;
  margin:10px;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}