.App {
  text-align: left;
  margin-bottom: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

.row-header {
  align-items: baseline;
}

.pane{
  flex: 1;
  border:1px solid #eee;
  box-shadow:0 2px 2px #ccc;
  padding: 5px 10px 10px 10px;
  margin: 5px 10px;
}

.vspace {
  padding: 3px 0 3px 0;
}

.rspace {
  padding-right: 5px;
}

.row {
  display: flex;
  margin-top: 5px
}

.data-row {
  display: flex;
  margin: 0;
  padding: 3px;
  align-items: baseline;
}

.overview-row {
  display: flex;
}

.overview-column {
  margin: 3px 0 0 0;
  flex: 1;
  flex-grow: 0;
  flex-basis: 25px;
}

.overview-tree {
  margin: 3px 0 0 0;
}

.overview-datacolumn {
  flex: 1;
  flex-grow: 1;
}

.column {
  flex: 1;
  display: flex;
}

.react-json-view {
  font-family: sans-serif !important;
}

.object-content {
  margin: 0 3px 0 3px;
  background-color:beige;
}

.selected-field {
  margin: 3px;
}